<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">

    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH-mm-ss-SS} [%thread] %-5level   %logger{36}    %msg%n"/>
    <property name="ROLLING_LOG_PATTERN" value="[%thread] [%d{yyyy-MM-dd HH-mm-ss-SS}] %-5level   %logger{36}    %msg%n"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${LOG_PATTERN}</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <file>logs/app_logs.log</file>
        <append>true</append>
    </appender>

    <appender name="rolling_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${ROLLING_LOG_PATTERN}</pattern>
        </encoder>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/roll/app_logs_%i.%d{yyyy-MM-dd}.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5KB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="org.springframework" leve="INFO"/>
    <logger name="com.pioneers.rest" leve="TRACE"/>

    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
        <appender-ref ref="rolling_file"/>
    </root>
</configuration>